--
-- PostgreSQL database dump
--

\restrict e46417dG1ohMcGDqIUqZsEyIyrAmJ3Afg96tSf27Gfw0jqm8unDk3QwV8D8eHjo

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: cache; Type: TABLE DATA; Schema: public; Owner: laravel_user
--

COPY public.cache (key, value, expiration) FROM stdin;
\.


--
-- Data for Name: cache_locks; Type: TABLE DATA; Schema: public; Owner: laravel_user
--

COPY public.cache_locks (key, owner, expiration) FROM stdin;
\.


--
-- Data for Name: failed_jobs; Type: TABLE DATA; Schema: public; Owner: laravel_user
--

COPY public.failed_jobs (id, uuid, connection, queue, payload, exception, failed_at) FROM stdin;
\.


--
-- Data for Name: job_batches; Type: TABLE DATA; Schema: public; Owner: laravel_user
--

COPY public.job_batches (id, name, total_jobs, pending_jobs, failed_jobs, failed_job_ids, options, cancelled_at, created_at, finished_at) FROM stdin;
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: laravel_user
--

COPY public.jobs (id, queue, payload, attempts, reserved_at, available_at, created_at) FROM stdin;
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: laravel_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: laravel_user
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: laravel_user
--



--
-- Data for Name: personal_access_tokens; Type: TABLE DATA; Schema: public; Owner: laravel_user
--



--
-- Data for Name: zones; Type: TABLE DATA; Schema: public; Owner: laravel_user
--

COPY public.zones (id, name, status, description, alerte_active, current_lat, current_lng, created_at, updated_at, truck_updated_at) FROM stdin;
3	Almadies	Actif	Zone Almadies	f	\N	\N	2026-05-20 21:59:11	2026-06-14 19:35:16	\N
2	Plateau	Actif	Zone centre-ville	f	\N	\N	2026-05-20 21:59:11	2026-06-14 19:29:44	\N
1	M├®dina	Actif	\N	f	\N	\N	2026-05-11 19:28:05	2026-06-14 19:29:44	\N
\.


--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: laravel_user
--



--
-- Data for Name: schedules; Type: TABLE DATA; Schema: public; Owner: laravel_user
--



--
-- Data for Name: support_messages; Type: TABLE DATA; Schema: public; Owner: laravel_user
--

COPY public.support_messages (id, user_id, message, is_read, created_at, updated_at, reply, replied_at) FROM stdin;
1	47	Freezes fggg	t	2026-05-26 21:47:01	2026-05-26 21:47:01	Votre probl├¿me a ├®t├® r├®solu.	2026-05-26 21:58:35
2	47	Vvhhhhhhvhhhh	t	2026-05-26 22:37:11	2026-05-26 22:37:11	Votre probl├¿me a ├®t├® r├®solu.	2026-05-26 22:38:00
\.


--
-- Name: failed_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: laravel_user
--

SELECT pg_catalog.setval('public.failed_jobs_id_seq', 1, false);


--
-- Name: jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: laravel_user
--

SELECT pg_catalog.setval('public.jobs_id_seq', 1, false);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: laravel_user
--

SELECT pg_catalog.setval('public.migrations_id_seq', 22, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: laravel_user
--

SELECT pg_catalog.setval('public.notifications_id_seq', 7, true);


--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: laravel_user
--

SELECT pg_catalog.setval('public.personal_access_tokens_id_seq', 114, true);


--
-- Name: reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: laravel_user
--

SELECT pg_catalog.setval('public.reports_id_seq', 13, true);


--
-- Name: schedules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: laravel_user
--

SELECT pg_catalog.setval('public.schedules_id_seq', 69, true);


--
-- Name: support_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: laravel_user
--

SELECT pg_catalog.setval('public.support_messages_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: laravel_user
--

SELECT pg_catalog.setval('public.users_id_seq', 61, true);


--
-- Name: zones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: laravel_user
--

SELECT pg_catalog.setval('public.zones_id_seq', 25, true);


--
-- PostgreSQL database dump complete
--

\unrestrict e46417dG1ohMcGDqIUqZsEyIyrAmJ3Afg96tSf27Gfw0jqm8unDk3QwV8D8eHjo

